<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="yen">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Fravbot</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-custom navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Azubot</a>

    <div class="collapse navbar-collapse" id="navbarDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <main class="col-md-12 pt-3">

            <h1>Software</h1>

            <section class="row text-center placeholders">
                <div class="col-sm-4 placeholder">
                    <form>
                        <button type="button" class="btn btn-success btn-lg" id="start">Start!</button>
                    </form>
                </div>
                <div class="col-sm-4 placeholder">
                    <form>
                        <button type="button" class="btn btn-danger btn-lg" id="stop">Stop!</button>
                    </form>
                </div>
            </section>

            <h1>Configuration</h1>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='tether.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>

</body>
</html>
